.kdu{ width: auto;line-height: 24px; width:180px !important;letter-spacing: 1px;margin-bottom: 40px;margin-top: 50px;}
.hoin{margin-top: 50px;}
.btn-primary { color: #fff; background-color: #1E9FFF !important; border-color: #61b2ef;border:1px solid #61b2ef;}
.btn-primary:hover{background-color: #62bcff !important;border:1px solid #61b2ef;background-position: 0 -15px;}
